#### **Análisis Exploratorio de Datos (preliminar)**

In [1]:
# Cargar las librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Cargar el dataset 
df_siem = pd.read_csv('../data/raw/datosgob_2024.csv')
df_siem.head(10)

,razon_social,estado,municipio,domicilio,colonia,cp,telefono,e_mail,giro,scian,rango_de_empleados,registrado_por,fn_razon_social,fn_telefono,fn_e_mail,fn_giro,estado_etq
0,KINAM,México,Texcoco,Avenida HIDALGO 703 int 101-1,Colonia SAN SEBASTIAN,56130,5949565441,miguel.duran@kinamtrailers.com.mx,autotanques de acero al carbon,339999,11 a 50,CAMARA NACIONAL DE LA INDUSTRIA DE TRANSFORMACION,NaN,5.949565e+09,NaN,NaN,Estado de México
1,SANBORNS SUC PLAZA SAN PABLO TEXCOCO,México,Texcoco,Avenida JUÁREZ NTE 413 int -,Colonia CENTRO,56100,5553259900,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.553260e+09,NaN,NaN,Estado de México
2,BURGER KING TEXCOCO,México,Texcoco,Avenida JUAREZ SUR 340 int -,Colonia SAN PEDRO,56189,5575832000,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México
3,ITALIANNIS,México,Texcoco,Calle MOLINO DE LAS FLORES S/N int -,Colonia SANTA CRUZ DE ARRIBA,56151,5575832000,fernando.trueba@alsea.com.mx,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México
4,BURGER KING PUERTA TEXCOCO,México,Texcoco,Carretera MEXICO-TEXCOCO KM 30.5 int -,Colonia SANTIAGO CUAUTLALPAN,56101,5575832000,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México
5,MARIO IVAN LOPEZ VACA,México,Texcoco,Calle FLORES MAGON 3 int NA,Colonia LAS AMERICAS,56170,NaN,NaN,AUTOTRANSPORTE DE CARGA GENERAL,484129,0 a 10,CAMARA NACIONAL DEL AUTOTRANSPORTE DE CARGA,NaN,NaN,NaN,NaN,Estado de México
6,TERESITA LUJANO FARIAS,México,Texcoco,Carretera MORELOS KM 31.2 int NA,Colonia SANTIAGO CUAUTLALPAN,56255,5636185822,NaN,TRANSPORTE DE CARGA TERRESTRE,484119,11 a 50,CAMARA NACIONAL DEL AUTOTRANSPORTE DE CARGA,NaN,5.636186e+09,NaN,NaN,Estado de México
7,CONSULTORIO PEDIATRICO,México,Texcoco,Avenida JUAREZ SUR 229 int ---,Colonia CENTRO,56100,NaN,NaN,CONSULTAS MEDICAS,621211,0 a 10,CANACO SERVYTUR TEXCOCO,NaN,NaN,NaN,NaN,Estado de México
8,OXXO CENTRO TEXCOCO,México,Texcoco,Avenida JUAREZ SUR SN int ---,Colonia TEXCOCO DE MORA CENTRO,56100,NaN,NaN,MINISUPER,461110,0 a 10,CANACO SERVYTUR TEXCOCO,NaN,NaN,NaN,NaN,Estado de México
9,CLINICA DENTAL GALARZA,México,Texcoco,Avenida JUAREZ SUR 315 int ---,Colonia TEXCOCO CENTRO,56100,5959542748,maraodontopediatria@hotmail.com,CONSULTORIO DENTAL,621211,0 a 10,CANACO SERVYTUR TEXCOCO,NaN,5.959543e+09,NaN,NaN,Estado de México

Como primera observación se detectan varias filas con valores nulos (NaN)

##### Identificar el número de filas y columnas

In [4]:
filas, columnas = df_siem.shape
print(f'Num Filas: {filas}\nNum Columnas: {columnas}')

Num Filas: 147851
Num Columnas: 17

##### Identificar los tipos de datos

In [5]:
df_siem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147851 entries, 0 to 147850
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   razon_social        147780 non-null  object
 1   estado              147851 non-null  object
 2   municipio           147851 non-null  object
 3   domicilio           147851 non-null  object
 4   colonia             147851 non-null  object
 5   cp                  147851 non-null  int64
 6   telefono            113520 non-null  object
 7   e_mail              88671 non-null   object
 8   giro                147594 non-null  object
 9   scian               147851 non-null  int64
 10  rango_de_empleados  147851 non-null  object
 11  registrado_por      147851 non-null  object
 12  fn_razon_social     2 non-null       float64
 13  fn_telefono         113498 non-null  float64
 14  fn_e_mail           19 non-null      float64
 15  fn_giro             157 non-null     float64
 16  estado_etq          147851 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 19.2+ MB

***telefono, e_mail, fn_razon_social, fn_telefono, fn_e_mail, fn_giro, estado_etq*** son columnas irrelevantes para el análisis por lo que se pueden eliminar.

##### Identificar valores nulos

In [9]:
print('Valores nulos por columnas')
valores_nulos = df_siem.isnull().sum()
print(valores_nulos)

Valores nulos por columnas
razon_social              71
estado                     0
municipio                  0
domicilio                  0
colonia                    0
cp                         0
telefono               34331
e_mail                 59180
giro                     257
scian                      0
rango_de_empleados         0
registrado_por             0
fn_razon_social       147849
fn_telefono            34353
fn_e_mail             147832
fn_giro               147694
estado_etq                 0
dtype: int64

##### Identificar valores duplicados

In [ ]:
for nombre_columna in df_siem.columns:
    valores_duplicados = df_siem[nombre_columna].duplicated().sum()
    print(f'Valores duplicados en la columna {nombre_columna:<20}{valores_duplicados}')
    print('-' * 60)

Valores duplicados en la columna razon_social        33812
------------------------------------------------------------
Valores duplicados en la columna estado              147819
------------------------------------------------------------
Valores duplicados en la columna municipio           146712
------------------------------------------------------------
Valores duplicados en la columna domicilio           10739
------------------------------------------------------------
Valores duplicados en la columna colonia             117825
------------------------------------------------------------
Valores duplicados en la columna cp                  136820
------------------------------------------------------------
Valores duplicados en la columna telefono            71874
------------------------------------------------------------
Valores duplicados en la columna e_mail              89647
------------------------------------------------------------
Valores duplicados en la columna giro                116164
------------------------------------------------------------
Valores duplicados en la columna scian               147171
------------------------------------------------------------
Valores duplicados en la columna rango_de_empleados  147847
------------------------------------------------------------
Valores duplicados en la columna registrado_por      147703
------------------------------------------------------------
Valores duplicados en la columna fn_razon_social     147848
------------------------------------------------------------
Valores duplicados en la columna fn_telefono         71901
------------------------------------------------------------
Valores duplicados en la columna fn_e_mail           147849
------------------------------------------------------------
Valores duplicados en la columna fn_giro             147806
------------------------------------------------------------
Valores duplicados en la columna estado_etq          147819
------------------------------------------------------------

Se identificaron varias columnas con valores duplicados, se realizara un análisis más profundo para comprender mejor estos datos duplicados.

**Variables Categóricas**
* razon_social
* estado
* municipio
* domicilio
* colonia
* telefono
* e_mail
* giro
* rango_de_empleados
* registrado_por
* estado_etq

**Variables Nuiméricas**
* fn_razon_social
* fn_telefono
* fn_e_mail
* fn_giro