## ***Limpieza y procesamiento de datos***

In [34]:
# Cargar las librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
# Cargar el dataset 
df_siem = pd.read_csv('../data/raw/datosgob_2024.csv')
df_siem.head()

,razon_social,estado,municipio,domicilio,colonia,cp,telefono,e_mail,giro,scian,rango_de_empleados,registrado_por,fn_razon_social,fn_telefono,fn_e_mail,fn_giro,estado_etq
0,KINAM,México,Texcoco,Avenida HIDALGO 703 int 101-1,Colonia SAN SEBASTIAN,56130,5949565441,miguel.duran@kinamtrailers.com.mx,autotanques de acero al carbon,339999,11 a 50,CAMARA NACIONAL DE LA INDUSTRIA DE TRANSFORMACION,NaN,5.949565e+09,NaN,NaN,Estado de México
1,SANBORNS SUC PLAZA SAN PABLO TEXCOCO,México,Texcoco,Avenida JUÁREZ NTE 413 int -,Colonia CENTRO,56100,5553259900,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.553260e+09,NaN,NaN,Estado de México
2,BURGER KING TEXCOCO,México,Texcoco,Avenida JUAREZ SUR 340 int -,Colonia SAN PEDRO,56189,5575832000,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México
3,ITALIANNIS,México,Texcoco,Calle MOLINO DE LAS FLORES S/N int -,Colonia SANTA CRUZ DE ARRIBA,56151,5575832000,fernando.trueba@alsea.com.mx,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México
4,BURGER KING PUERTA TEXCOCO,México,Texcoco,Carretera MEXICO-TEXCOCO KM 30.5 int -,Colonia SANTIAGO CUAUTLALPAN,56101,5575832000,NaN,RESTAURANTE,722511,0 a 10,CAMARA NACIONAL DE LA INDUSTRIA DE RESTAURANTE...,NaN,5.575832e+09,NaN,NaN,Estado de México

#### **Verificar la cantidad de filas y columnas antes de la limpieza y procesamiento**

In [36]:
filas, columnas = df_siem.shape
print(f'{"Filas":<10}{"Columnas"}')
print(f'{filas:<10}{columnas:>7}')

Filas     Columnas
147851         17

##### **Eliminar Columnas innecesarios para el análisis**

In [ ]:
columnas_eliminar = ['cp','telefono', 'e_mail', 'fn_telefono', 'fn_e_mail', 'fn_razon_social', 'fn_giro', 'estado_etq']
n = 1

print('Columnas antes de eliminar')
for nombre_columnas in df_siem.columns:
    print(f'{n}.-{nombre_columnas}')
    n += 1

df_siem.drop(columnas_eliminar, axis=1, inplace=True)

print('\nColumnas después de eliminar')
i = 1 
for columna_nmombre in df_siem.columns:
    print(f'{i}.-{columna_nmombre}')
    i += 1

Columnas antes de eliminar
1.-razon_social
2.-estado
3.-municipio
4.-domicilio
5.-colonia
6.-cp
7.-telefono
8.-e_mail
9.-giro
10.-scian
11.-rango_de_empleados
12.-registrado_por
13.-fn_razon_social
14.-fn_telefono
15.-fn_e_mail
16.-fn_giro
17.-estado_etq

Columnas después de eliminar
1.-razon_social
2.-estado
3.-municipio
4.-domicilio
5.-colonia
6.-cp
7.-giro
8.-scian
9.-rango_de_empleados
10.-registrado_por

***Se eliminaron 8 columnas***

##### **Eliminar valores nulos**

In [38]:
valores_nulos = df_siem.isnull().sum()
print(f'{"Columnas":<10}{"Cant. Nulos":>20}')
print(valores_nulos)

Columnas           Cant. Nulos
razon_social           71
estado                  0
municipio               0
domicilio               0
colonia                 0
cp                      0
giro                  257
scian                   0
rango_de_empleados      0
registrado_por          0
dtype: int64

In [40]:
print('Filas antes de eliminar valores nulos')
print(f'Filas: {filas}')


print('\nFilas después de eliminar valores nulos')
df_siem_sin_nulos = df_siem.dropna()
filas_n, columnas_n = df_siem_sin_nulos.shape
print(f'Filas: {filas_n}')

Filas antes de eliminar valores nulos
Filas: 147851

Filas después de eliminar valores nulos
Filas: 147523

In [42]:
valores_nulos = df_siem_sin_nulos.isnull().sum()
print(f'{"Columnas":<10}{"Cant. Nulos":>20}')
print(valores_nulos)

Columnas           Cant. Nulos
razon_social          0
estado                0
municipio             0
domicilio             0
colonia               0
cp                    0
giro                  0
scian                 0
rango_de_empleados    0
registrado_por        0
dtype: int64